.cioccolato {
  color: chocolate;
  font-family: Impact;
  text-align: center;
}
#paragrafi {
  float: left;
  padding-left: 150px;
}
#immagine {
  float: right;
  padding-right: 50px;
}
#domanda {
  position: fixed;
  padding-left: 200px;
  bottom: 350px;
}
#text {
  position: fixed;
  padding-left: 200px;
  bottom: 300px;
}
