body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: #2f53d7;
    background-color: #edfff0;
}
hr {
    width: 300px;
    margin-bottom: 50px;
}